Header {
  dock: top;
}

Footer {
  dock: bottom;
  background: transparent;
}

#welcome {
  width: 100%;
  text-align: center;
  align: center middle;
  padding: 2;
}

#menu {
  width: 100%;
  align: center middle;
  height: auto;
}

Button {
  margin: 0 0;
  padding: 1;
  border: round $primary;
  background: transparent;
  width: 20;
}
