Header {
  height: 3;
  dock: top;
}

Footer {
  height: 3;
  dock: bottom;
}

#welcome {
  width: 100%;
  text-align: center;
  align: center middle;
  padding: 2;
}

#menu {
  width: 100%;
  align: center middle;
  height: auto;
}

Button {
  margin: 0 0;
}
